.site-footer {
    background: #1D4436;
    padding: 37px 0;

    .container {
        display: grid;
        grid-template-columns: 164px 1fr;
        gap: 160px;
    }

    .logo {
        background: url(../img/logo-full.png) center center/164px no-repeat;
        width: 164px;
        height: 60px;
        display: block;
    }

    .text {
        >* {
            color: var(--gray-white, #FFF);
            font-family: "PoppinsZ";
            font-size: 14px;
            font-weight: $font-weight-medium;
            margin-bottom: 8px;

            >* {
                margin-bottom: 0;
            }
        }

    }
}