<div class="container">
    <div class="wrap">
      <a href="" class="ocop-logo">ocop-logo</a>
      <ul class="list">
        <li><a href="">phát triển kinh tế</a></li>
        <li><a href="">phát huy giá trị văn hóa</a></li>
        <li><a href="">bảo vệ môi trường sinh thái</a></li>
      </ul>
    </div>
    <div class="text">
      <a href="" class="title">OCOP – Mỗi xã một sản phẩm</a>
      <p>
        Chương trình quốc gia Mỗi xã một sản phẩm (One Commune One Product
        - OCOP) với mục tiêu phát triển kinh tế khu vực nông thôn theo
        hướng phát triển nội lực, gia tăng giá trị đầu tiên được Việt Nam
        triển khai trên toàn quốc từ năm 2018 tại Quyết định số 490/QĐ-TTg
        ngày 07/5/2018 do Thủ tướng Chính phủ ký ban hành. Đây là giải
        pháp, nhiệm vụ trong triển khai chương trình Mục tiêu quốc gia xây
        dựng nông thôn mới, nhằm thực hiện bền vững các tiêu chí về sản
        xuất và nâng cao thu nhập cho người dân. Trọng tâm chương trình là
        phát triển sản phẩm nông nghiệp, phi nông nghiệp và dịch vụ có lợi
        thế tại mỗi địa phương theo chuỗi giá trị do các thành phần kinh
        tế tư nhân và kinh tế tập thể thực hiện.
      </p>
      <p>
        Một trong những thành công quan trọng của OCOP là tạo được sinh kế
        cho người dân ở nhiều địa phương, đặc biệt là vùng sâu,vùng xa,
        vừa phát triển kinh tế nhưng cũng đồng thời bảo tồn, phát huy được
        văn hóa bản địa và bảo vệ được môi trường sinh thái. 
      </p>
    </div>
    <button class="more-news"> xem thêm</button>
  </div>