// UTMKabelKT : bold
@font-face {
    font-family: "UTM Kabel KT";
    src: url("../fonts/UTMKabelKT/UTMKabelKT.ttf");
    font-weight: 700;
}


// PoppinsZ : regular, medium, semibold
@font-face {
    font-family: "PoppinsZ";
    src: url("../fonts/PoppinsZ/PoppinsZSemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "PoppinsZ";
    src: url("../fonts/PoppinsZ/PoppinsZMedium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "PoppinsZ";
    src: url("../fonts/PoppinsZ/PoppinsZ.ttf");
    font-weight: 400;
}