<a href="" class="title">tin tức</a>
<p class="sapo">
  Những thông tin mới nhất về các sản phẩm OCOP, các hoạt động liên quan  đến
  Chương trình quốc gia Mỗi xã một sản phẩm OCOP cũng như nhiều thông tin liên
  quan khác.
</p>
<div class="container">
  @@for (var i = 0; i < 3; i++) { 
      <article class="story">
        <figure class="story__thumb">
          <a href="" title="">
            <img
              src="https://source.unsplash.com/featured/370x245?sig=1"
              alt="(3x2)"
          /></a>
        </figure>
        <div class="wrap">
          <a href="" class="title-cate" title="">cate</a>
          <h5 class="story__heading">
            <a href="#">
              Official Gazette issues Nos 09-12/2022, available on April 28, 2022
            </a>
          </h5>
          <div class="story__summary">
            Decree No. 02/2022/ND-CP of January 6, 2022, detailing a number of
            articles of the Law on Real Estate Business
          </div>
        </div>
      </article>
  }
</div>
<button class="more-news">xem thêm</button>
