<div class="product-briefing">
  <div class="images"></div>
  <div class="infor">
    <p class="title">Dừa sáp sợi-VICOSAP</p>
    <div class="group-star">
      <i class="ic-star"></i>
      <i class="ic-star"></i>
      <i class="ic-star"></i>
      <i class="ic-star"></i>
      <i class="ic-star-normal"></i>
    </div>
    <div class="text">
      <p class="title">xuất xứ</p>
      <p class="des">Thanh Hoá</p>
      <p class="title">Nhóm sản phẩm :</p>
      <p class="des">Thực phẩm</p>
      <p class="title">Loại sản phẩm :</p>
      <p class="des">Dừa sợi</p>
    </div>
    <p class="sapo">
      Viên kẹo dừa sáp mềm mịn, ngọt thanh béo nhẹ, tan nhanh trong miệng nên
      rất ít dính răng, phù hợp người thích vị dừa sáp truyền thống....
    </p>
    <div class="share">
      <p class="title">chia sẻ :</p>
      <div class="social">
        <a href="" class="fb">fb</a>
        <a href="" class="yt">yt</a>
        <a href="" class="x">x</a>
        <a href="" class="email">tw</a>
      </div>
    </div>
  </div>
</div>
<div class="nav-tabs">
  <ul class="link">
    <li><a class="active" data-link="menu1">Mô tả sản phẩm</a></li>
    <li><a data-link="menu2">Chi tiết sản phẩm</a></li>
  </ul>
  <div class="content">
    <div class="menu1 tab-pane active">
      <p>
        - Từ nguồn nguyên liệu cho đến vận chuyển, chế biến, đóng gói, lưu kho
        được giám sát kỹ lưỡng. Tất cả sản phẩm của VICOSAP đều có lượng đường
        phù hợp, không quá ngọt, không chất hóa học độc hại.
      </p>
      <p>
        - Viên kẹo mềm mịn, ngọt thanh béo nhẹ, tan nhanh trong miệng nên rất ít
        dính răng, phù hợp người thích vị dừa sáp truyền thống.
      </p>
      <p>* Thành phần sản phẩm: Cơm dừa sáp, mạch nha, nước cốt dừa.</p>
      <p>* Quy cách đóng gói: 30 túi/ thùng</p>
      <img src="https://source.unsplash.com/featured/400x400?sig=1" alt="" />
      <p>
        * Tiêu chí sản xuất: Không chất bảo quản Không chất tẩy trắngKhông màu
        hóa học.
      </p>
      <p>
        * Công dụng:+ Ăn vặt mỗi khi buồn miệng, mệt mỏi, hạ đường + Tặng quà
        cho bạn bè, người thân, trẻ nhỏ + Sẽ tuyệt hơn nếu dùng với trà nóng
        (Phù hợp tặng cho ông bà, cha mẹ)
      </p>
    </div>
    <div class="menu2 tab-pane">
      <p>
        - Từ nguồn nguyên liệu cho đến vận chuyển, chế biến, đóng gói, lưu kho
        được giám sát kỹ lưỡng. Tất cả sản phẩm của VICOSAP đều có lượng đường
        phù hợp, không quá ngọt, không chất hóa học độc hại.
      </p>
    </div>
  </div>
</div>
