.timeline {
    .box-heading {
        margin-bottom: 20px;
    }

    @include title;

    .story {
        margin-bottom: var(--gutter);
        padding-bottom: var(--gutter);
        border-bottom: 1px solid $border-color;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }

        &__thumb {
            width: 240px;
            height: 160px;
            float: left;
            margin-right: 30px;
        }

        &__heading {
            margin-bottom: 5px;

            a {
                color: var(--gray-900, #212529);
                font-family: "PoppinsZ";
                font-size: 20px;
                font-weight: $font-weight-medium;
            }
        }


        &__summary {
            color: var(--gray-700, #495057);
            font-family: "PoppinsZ";
            font-size: 16px;
            line-height: 26px;
        }
    }

    .more-news {
        margin-top: 70px;
    }
}