<div class="timeline">
  <h3 class="box-heading">
    <a href="" class="title">Tin cùng chuyên mục</a>
  </h3>
  <div class="box-content">
    @@for (var i = 0; i < 5; i++) {
        <article class="story">
          <figure class="story__thumb">
            <a href="" title=""> <img src="https://source.unsplash.com/featured/240x160?sig=1" alt="(3x2)" /></a>
          </figure>
          <h5 class="story__heading">
            <a href="#">
              Official Gazette issues Nos 09-12/2022, available on April 28, 2022
            </a>
          </h5>
          <div class="story__summary">
            Decree No. 02/2022/ND-CP of January 6, 2022, detailing a number of
            articles of the Law on Real Estate Business
          </div>
        </article>
    }
  </div>
  <button class="more-news">xem thêm</button>
</div>
