<div class="related-product">
  <h3 class="box-heading">
    <a href="" class="title">Sản phẩm liên quan</a>
  </h3>
  <div class="box-content">
    <img src="https://source.unsplash.com/featured/300x300?sig=1" alt="" />
    <p class="title">Dừa sáp sợi-VICOSAP</p>
    <div class="group-star">
      <i class="ic-star"></i>
      <i class="ic-star"></i>
      <i class="ic-star"></i>
      <i class="ic-star"></i>
      <i class="ic-star-normal"></i>
    </div>
    <div class="text">
      <p class="title">xuất xứ</p>
      <p class="des">Thanh Hoá</p>
      <p class="title">Nhóm sản phẩm :</p>
      <p class="des">Thực phẩm</p>
      <p class="title">Loại sản phẩm :</p>
      <p class="des">Dừa sợi</p>
    </div>
    <p class="sapo">
      Viên kẹo dừa sáp mềm mịn, ngọt thanh béo nhẹ, tan nhanh trong miệng nên
      rất ít dính răng, phù hợp người thích vị dừa sáp truyền thống....
    </p>
  </div>
</div>
