<div class="four-pack">
  <h3 class="box-heading">
    <a href="" class="title">sản phẩm liên quan</a>
  </h3>
  <div class="box-content">
    @@for (var i = 0; i < 4; i++) {
    <article class="story">
      <figure class="story__thumb">
        <a href="" title="">
          <img
            src="https://source.unsplash.com/featured/270x270?sig=1"
            alt="(1x1)"
          />
        </a>
      </figure>
      <a href="" class="title-cate" title="">Trà Vinh</a>
      <h5 class="story__heading">
        <a href="#">
          Tuần hàng Việt Nam tại Thái Lan thu hút số lượng kỷ lục doanh nghiệp
          tham gia
        </a>
      </h5>
    </article>
    }
  </div>
</div>
