@import './zce-common-body.scss';

.zce-content-body {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;

    >* {
        color: var(--gray-800, #343A40);
        font-family: "PoppinsZ";
        font-size: 18px;
        line-height: 160%;
    }
}

.article__tag {
    display: flex;
    align-items: center;
    gap: 16px;

    .title {
        color: #000;
        font-family: "PoppinsZ";
        font-size: 15px;
        font-weight: $font-weight-medium;
        line-height: 160%;
        text-transform: uppercase;
    }

    .box-content {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        >* {
            color: var(--gray-700, #495057);
            font-family: "PoppinsZ";
            font-size: 15px;
            line-height: 160%;
            padding: 4px 12px;
            border-radius: 16px;
            transition: 0.3s all;

            &:hover,
            &.active {
                color: #fff;
                background: var(--ocop-primary, #5B8C51);
            }
        }
    }
}

.article__source {
    display: flex;
    gap: 10px;

    .name {
        color: var(--gray-800, #343A40);
        font-family: "PoppinsZ";
        font-size: 14px;
        font-weight: $font-weight-medium;
        line-height: 145%;
        min-width: 95px;
    }

    .text {
        color: var(--ocop-primary, #5B8C51);
        font-family: "PoppinsZ";
        line-height: 160%;
        font-size: 14px;
    }
}