<a href="" class="title">Câu chuyện phát triển:</a>
<p class="sapo">
  Những kinh nghiệm hay, những mô hình tốt trong quá trình phát hiện tiềm năng,
  xây dựng, phát triển thương hiệu sản phẩm OCOP; nhận định, đánh giá của chuyên
  gia, các nhà quản lý, lãnh đạo các ban ngành, địa phương… về những khó khăn và
  giải pháp khắc phục trong quá trình thực hiện Chương trình quốc gia Mỗi xã một
  sản phẩm OCOP.
</p>
<div class="container">
  @@for (var i = 0; i < 6; i++) {
  <article class="story">
    <time class="time">17/04/2023 12:23</time>
    <h5 class="story__heading">
      <a href="#">
        Official Gazette issues Nos 09-12/2022, available on April 28, 2022
      </a>
    </h5>
    <div class="story__summary">
      Decree No. 02/2022/ND-CP of January 6, 2022, detailing a number of
      articles of the Law on Real Estate Business
    </div>
    <a href="" class="more">xem thêm</a>
  </article>
  }
</div>
<button class="more-news">xem thêm</button>
