<div class="onemain-multisub">
  <h3 class="box-heading">
    <a href="" class="title">Multimedia</a>
  </h3>
  <div class="box-content">
    <article class="story">
      <figure class="story__thumb">
        <a href="" title=""> <img src="https://source.unsplash.com/featured/300x200?sig=1" alt="(3x2)" /></a>
      </figure>
      <h5 class="story__heading">
        <a href="#">
          Official Gazette issues Nos 09-12/2022, available on April 28, 2022
        </a>
      </h5>
      <time class="time">17/04/2023 12:23</time>
    </article>
    @@for (var i = 0; i < 4; i++) {
    <article class="story">
      <figure class="story__thumb">
        <a href="" title=""> <img src="https://source.unsplash.com/featured/80x80?sig=1" alt="(3x2)" /></a>
      </figure>
      <h5 class="story__heading">
        <a href="#">
          Official Gazette issues Nos 09-12/2022, available on April 28, 2022
        </a>
      </h5>
    </article>
    }
  </div>
</div>
