.site-header {
    padding: 15px 100px 10px 100px;
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    gap: 0 40px;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/mask-header.png) center center no-repeat;
        z-index: -1;
    }

    .nhandan-logo {
        background: url(../img/logo.png) center center/135px no-repeat;
        width: 135px;
        height: 36px;
        font-size: 0;
        margin-right: auto;
    }

    .ocop-logo {
        background: url(../img/ocop.png) center center/63px no-repeat;
        width: 63px;
        height: 30px;
        font-size: 0;
    }

    .menu {
        display: flex;
        gap: 40px;

        a {
            color: var(--gray-white, #FFF);
            font-family: "PoppinsZ";
            font-size: 16px;
            font-weight: $font-weight-medium;
            line-height: 30px;
            text-transform: uppercase;
        }
    }

    .search {
        display: flex;
        align-items: center;
        position: relative;

        input {
            border: none;
            outline: none;
            background: #eeeeee21;
            height: 30px;
            padding: 0 10px;
        }

        [class*="ic-"] {
            position: absolute;
            right: 0;

            &::before {
                position: relative;
                top: 1px;
                font-size: 25px;
                color: #fff;
            }
        }
    }
}

.home-page {
    .site-header {
        &::before {
            background: linear-gradient(180deg, rgba(0, 0, 0, .7) 0, rgba(0, 0, 0, 0) 100.27%);
        }
    }
}