<a href="" class="title">Sản phẩm:</a>
<p class="sapo">
  Giới thiệu tổng quan về các sản phẩm OCOP đã được công bố. Bạn đọc vừa có thể
  theo dõi tổng thể, vừa có thể tìm kiếm các sản phẩm mình quan tâm theo các
  nhóm: Thực phẩm; Đồ uống; Thảo dược; Lưu niệm, nội thất và trang trí; Dịch vụ
  nông thôn, bán hàng.
</p>
<div class="filter">
  <div class="container">
    <div class="item">
      <img src="../styles/img/item1.png" alt="" />
      <select name="cars" id="cars">
        <option value="volvo">Sản phẩm theo tỉnh thành</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <div class="item">
      <img src="../styles/img/item2.png" alt="" />
      <select name="cars" id="cars">
        <option value="volvo">Nhóm sản phẩm</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <div class="item">
      <img src="../styles/img/item3.png" alt="" />
      <select name="cars" id="cars">
        <option value="volvo">Loại sản phẩm</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <div class="item">
      <img src="../styles/img/item4.png" alt="" />
      <select name="cars" id="cars">
        <option value="volvo">Tìm theo lượt đánh giá</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>
  </div>
</div>
<div class="container">
  <div class="wrap">
    @@for (var i = 0; i < 4; i++) {
    <article class="story">
      <figure class="story__thumb">
        <a href="" title="">
          <img
            src="https://source.unsplash.com/featured/270x270?sig=1"
            alt="(3x2)"
        /></a>
      </figure>
      <h5 class="story__heading">
        <a href="#">
          Official Gazette issues Nos 09-12/2022, available on April 28, 2022
        </a>
      </h5>
      <time class="time">17/04/2023 12:23</time>
      <div class="story__summary">
        Decree No. 02/2022/ND-CP of January 6, 2022, detailing a number of
        articles of the Law on Real Estate Business
      </div>
    </article>
    }
  </div>
</div>
<button class="more-news">xem thêm</button>