<div class="article__sub-title">
  Sự sống bí ẩn trong khói núi lửa dưới biển sâu
</div>
<div class="article__title">Kinh nghiệm đi mùa lúa chín Sapa mới nhất 2022</div>
<div class="article__meta">
  <time class="time">Thứ ba, ngày 25/10/2022 - 10:30</time>
  <div class="social">
    <a href="" class="fb">fb</a>
    <a href="" class="yt">yt</a>
    <a href="" class="x">x</a>
    <a href="" class="email">tw</a>
  </div>
</div>
<div class="article__avatar">
  <figure class="max-width">
    <img src="https://source.unsplash.com/random/1500x394?sig=1" alt="" />
    <figcaption>figure outset-right</figcaption>
  </figure>
</div>
<div class="article__sapo">
  Nhắc đến Sapa chúng ta thường nghĩ ngay đến xứ sở sương mù xinh đẹp nhưng lại
  quên mất rằng nơi đây còn khiến bao người phải say đắm, đổ gục trước vẻ đẹp
  của cánh đồng lúa chín đẹp đến nao lòng. Du lịch Sapa mùa lúa chín chắc chắn
  sẽ có nhiều trải nghiệm thú vị cho du khách. Hãy cùng Tico Travel tìm hiểu xem
  mùa lúa chín Sapa có gì mà lại làm mọi người say đắm đến vậy nhé!
</div>
@@include("../audio/audio.html")
