@mixin title {}

@mixin title-sapo {
    .title {
        color: #5B8C51;
        text-align: center;
        text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15);
        font-family: "UTM Kabel KT";
        font-size: 80px;
        text-transform: uppercase;
        text-align: center;
        display: block;
    }

    .sapo {
        color: var(--gray-800, #343A40);
        text-align: center;
        font-family: "PoppinsZ";
        font-size: 16px;
        text-align: center;
        line-height: 28px;
        max-width: 780px;
        margin: 0 auto;
    }
}

@mixin story {
    .story {
        margin-top: 12px;
        padding-top: 12px;
        border-top: 1px solid $border-color;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }

        &__thumb {
            float: left;
            width: 140px;
            height: 92px;
            margin-right: 10px;
        }

        &__heading a {
            padding-top: 0;
            color: $title;
        }

        &__meta {
            margin-left: 150px;
        }
    }
}